*{
    margin:0;
    padding:0;
}

/* Navigation Menu  */

#logo img{
    width:70px;
    background-color: yellow;
    margin: 9px;
    padding: 0px;
}
#logo img:hover{
    cursor: pointer;
}
.item{
    height:100px;
}
.item2{
    display: flex;
    align-content: space-between;
}
#navbar{
    display:flex;
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
   position: sticky;
   top:0;

}
#navbar ul {
    display: flex;
    align-items: center;
    margin:0px 200px;
}
#navbar ul li {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 30px 22px;
    padding:0px 13px;  
}
#navbar ul li a{
    font-family: 'Signika Negative', sans-serif;
    color:white;
    text-decoration: none;
    padding:9px;
}
.item2{
    display: flex;
    flex-direction: column;
    width: 90px;
}
.item2{
    display: flex;
    flex-direction: column;
    width: 90px;
}

.item2 a {
    text-decoration: none;
    color:inherit;
     font-family: 'Signika Negative', sans-serif;
    font-size: 15px;
    display: flex;
    position:relative;
    left: 100px;
    top: 7px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 4px;
    border-radius: 20px;
    background-color:tomato;
}

.item2 a:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}
#navbar ul li a:hover{
    text-decoration: none;
    color:black;
    background-color: white;
    border-radius: 20px;

}


/* content */
.content{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Lao', sans-serif;

    
}
.work{
    margin: 20px;
    padding: 20px;
    color:white;
    background-color:crimson;
    border-radius: 20px;
    
}
.para{
    margin: 20px;
    font-size: 1.3rem;
}
/* Footer */
.foot{
    display: flex;
    flex-direction: column;
    background: linear-gradient(29deg,#26b5eb 0,#1cafbc 49%,#1ab174 94%);

}
.foot-upper{
    display: flex;
    border-bottom: 1.5px black solid;
    
}
.col{display: flex;

    margin:10px 100px;
    width: 200px;
    
}
.foot-upper ul li{
    cursor: pointer;
    list-style: none;
    margin:25px 0px;
    padding:5px;
}
.foot-upper .list-head{
    font-weight: bold;
    font-size: 1.3em;
}
.foot-lower{
    display: flex;

}
.foot-lower h3{
    width: 1200px;
    text-align: justify;
    font-size: 1em;
    margin: 12px 0px;
    align-content: center;
}
.icons img{
    cursor: pointer;
    height: 30px;
    margin: 2px 50px;
    
}
#img1{
    height: 35px;
}