#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 780px;
    height: 150px;
}
#navbar ul {
    display: flex;
    align-items: center;
    margin:0px 100px;
}
#navbar ul li {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px 22px;
    padding:0px 5px;  
}
.item{
    height: 10px;
}
.item2 {
    display: none;

}
#home{
    width: 780px;
}
.profile{
    display: flex;
    flex-direction: column;
    width:740px;
}
.id{
    width:728px;
}
.information{
    width: 711px;
}
.dataset dl dd{
    font-size: 0.8rem;
}


.foot{
    display: flex;
    width: 780px;
}
.foot-upper{
    display: flex;

    justify-content: center;
}
.foot-upper ul li{
    font-size: 0.8rem;
}
.col{
    display: flex;
    margin: 5px 5px;
    justify-content: center;
}
.foot-lower{
    display: flex;
}
.foot-lower h3{
    width: 740px;
}
.icons{
    display: flex;
}