#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 740px;
    height: 150px;
}
#navbar ul {
    display: flex;
    align-items: center;
    margin:0px 100px;
}
#navbar ul li {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px 22px;
    padding:0px 5px;  
}
.item{
    height: 10px;
}
.item2 a{
    display: none;

}
.role{
    width: 640px;
}
.role-primary-list{
    margin:0px 16px;
}
.foot{
    display: flex;
    width: 740px;
}
.foot-upper{
    display: flex;

    justify-content: center;
}
.foot-upper ul li{
    font-size: 0.8rem;
}
.col{
    display: flex;
    margin: 5px 5px;
    justify-content: center;
}
.foot-lower{
    display: flex;
}
.foot-lower h3{
    width: 740px;
}
.icons{
    display: flex;
}
.apply a{
    margin:32px 24px;
}